@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

header {
    width: auto;
    height: 800px;
    background-image: linear-gradient(#00000099, #31a8dd33, #00000099), url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #33a8db80;
}

p {
    color: white;
}

section {
    margin: 100px auto;
}

#banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#banner-content h3 {
    font-weight: 900;
    font-size: 40px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#banner-content p {
    width: 510px;
    height: 46px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

#banner-content img {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    width: 255px;
    font-size: 16px;
    border: 2px solid #31A8DD;
    padding: 12px;
    background: transparent;
    color: #31A8DD;
    margin-top: 500px;
    text-transform: uppercase;
    margin-left: 42%;
    cursor: pointer;
}

button:hover {
    color: #1472B7;
    border: 2px solid #1472B7;
}

#course-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#course-content h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.19em;
    margin-bottom: 12px;
    color: #33A8DB;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#course-content p {
    width: 900px;
    text-align: center;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
}

#course-content .module {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 12px 90px;
    margin-bottom: 12px;
    width: 600px;
    height: 60px;
    cursor: pointer;
    background: #252525;
    border: 1px solid #33A8DB;
    box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
    border-radius: 57px;
}

.module span {
    color: #33A8DB;
    margin-right: 6px;
}

#transform-world {
    height: 560px;
    background-size: cover;
    background-image: url("./imag/woman-code.png");
    background-attachment: fixed;
    border-top: 1px solid #33a8db80;
    border-bottom: 1px solid #33a8db80;
    padding: 200px;
}

#transform-world p {
    position: absolute;
    width: 244px;
    height: 141px;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    text-shadow: 3px 2px 0px #33A8DB;
    text-transform: lowercase;
}

#professional-challenges {
    display: flex;
    justify-content: center;
    align-items: center;
}

#professional-challenges h2 {
    width: 766px;
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0.19em;
    color: #33A8DB;
    text-transform: uppercase;
}

#professional-challenges img {
    position: absolute;
    width: 659px;
    height: 429px;
    left: auto;
    top: 2040px;
}

#professional-challenges p {
    width: 910px;
    text-align: center;
    top: 2530px;
    position: absolute;
}

footer {
    width: auto;
    height: 170px;
    background: linear-gradient(180deg, rgba(51, 168, 219, 0) 0%, rgba(51, 168, 219, 0.2) 99.99%, rgba(51, 168, 219, 0.2) 100%);
    border-top: 1px solid #33A8DB;
    margin-top: 700px;
    padding: 60px 0;
    text-align: center;    
}

footer .dio-logo {
    width: 300px;
}

footer a {
    color: #1472B7;
    font-weight: bold;
    text-decoration: none;
}